# Compiled Object files
*.slo
*.lo
*.o
*.BACKUP.*
*.LOCAL.*
*.BASE.*
*.REMOTE.*
*.orig

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.pro.user
Makefile
moc*
build-test
/java_app_example/nbproject
/java_app_example/build/
/java_app_example/*.xml
/java_app_example/*.mf
*.xcodeproj
.DS_Store
Info.plist
